body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/Fondo2.jpg');
    margin: 0;
}

#dashboard-container {
    display: flex;
    min-height: 100vh;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.1);
}

.sidebar {
    width: 250px;
    background-color: #fbe5ad;
    transition: width 0.5s;
}

.sidebar-option {
    padding: 10px;
    border-bottom: 1px solid #000000;
    transition: background-color 0.3s;
}

.sidebar-option:hover {
    background-color: #ef8b1b;
}

.sidebar-option a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.sidebar-option a i {
    margin-right: 10px;
}
 
/* Contenedor individual para cada canvas */


canvas {
    width: 100% !important;            /* Aseguramos que el canvas no desborde */
    height: auto;                      /* Mantener la relación de aspecto */
}

/* Estilos específicos para cada contenedor de gráfico */
 
#histograma, #meseros, #mesas {
    background-color: #ffffff !important; /* Forzamos el fondo blanco */
  }


.logo {
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.logout {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
    background-color: red;
    border:none;
}

.toggle-sidebar {
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 260px;
    font-size: 24px;
    z-index: 1000;
    color: #ffff;
}

.hide-sidebar .sidebar {
    width: 0;
    overflow: hidden;
}

.hide-sidebar .logout {
    display: block;
}

.hide-sidebar .toggle-sidebar {
    left: 10px;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

  

.content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}
.content {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos en fila */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    flex-wrap: wrap; /* Permite que los elementos se ajusten a nuevas filas si es necesario */
}

/* Contenedor para el primer gráfico */
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    max-height: 800px;
    max-width: 950px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 40px;
}

.chart-container6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    max-height: 800px;
    max-width: 950px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 40px;
}

/* Contenedor para los gráficos 2 y 3 en columna */
.chart-column {
    display: flex;
    flex-direction: column; /* Alinea los contenedores 2 y 3 en una columna */
    justify-content: flex-start;
    align-items: center;
}


/* Contenedor para el segundo gráfico */
.chart-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100%;
    text-align: center;
    margin-bottom: 10px;
    max-height: 300px;
    max-width: 400px;
    margin-left: 40px;
    margin-top:20px;

}
.chart-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Ocupa todo el ancho disponible */
    text-align: center;
    margin-bottom: 20px;
    max-height: 350px;
    max-width: 350px;
    margin-left: 40px;
    

}

.chart-container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Ocupa todo el ancho disponible */
    text-align: center;
    margin-bottom: 20px;
    max-height: 350px;
    max-width: 350px;
    margin-left: 40px;

}

#histograma {
    width: 100%; /* El gráfico ocupará todo el ancho disponible */
    background-color: white; /* Fondo blanco */
    margin-top: 30px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  #meseros {
    width: 100%; /* El gráfico ocupará todo el ancho disponible */
    background-color: white; /* Fondo blanco */
    margin-top: 0px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  #mesas {
    width: 100%; /* El gráfico ocupará todo el ancho disponible */
    background-color: white; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
   #histogramaProductos {
    width: 100%; /* El gráfico ocupará todo el ancho disponible */
    background-color: white; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }

    #histogramaDias {
    width: 100%; /* El gráfico ocupará todo el ancho disponible */
    background-color: white; /* Fondo blanco */
    margin-top: 10px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  } 
  #descargar-pdf {
    background-color: green; /* Color azul */
    color: white; /* Texto blanco */
    font-size: 16px;
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: all 0.3s ease; /* Animación suave */
    margin-left: 40px;

  }
  
  #descargar-pdf:hover {
    background-color: green; /* Color azul más oscuro al pasar el cursor */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
    transform: translateY(-2px); /* Eleva ligeramente el botón */
  }
  
  #descargar-pdf:active {
    background-color: green; /* Color más oscuro al hacer clic */
    transform: translateY(2px); /* Deprime ligeramente el botón */
  }