body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/Fondo2.jpg');
    margin: 0;
}

#dashboard-container {
    display: flex;
    min-height: 100vh;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.1);
}

.sidebar {
    width: 250px;
    background-color: #fbe5ad;
    transition: width 0.5s;
}

.sidebar-option {
    padding: 10px;
    border-bottom: 1px solid #000000;
    transition: background-color 0.3s;
}

.sidebar-option:hover {
    background-color: #ef8b1b;
}

.sidebar-option a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.sidebar-option a i {
    margin-right: 10px;
}
 
/* Contenedor individual para cada canvas */


canvas {
    width: 100% !important;            /* Aseguramos que el canvas no desborde */
    height: auto;                      /* Mantener la relación de aspecto */
}

/* Estilos específicos para cada contenedor de gráfico */
 
#histograma, #meseros, #mesas {
    background-color: #ffffff !important; /* Forzamos el fondo blanco */
  }


.logo {
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.logout {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
    background-color: red;
    border:none;
}

.toggle-sidebar {
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 260px;
    font-size: 24px;
    z-index: 1000;
    color: #ffff;
}

.hide-sidebar .sidebar {
    width: 0;
    overflow: hidden;
}

.hide-sidebar .logout {
    display: block;
}

.hide-sidebar .toggle-sidebar {
    left: 10px;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilos específicos para el gráfico */
#histograma {
    width: 100%; /* El gráfico ocupará todo el ancho disponible */
    height: 400px; /* Altura del gráfico */
    background-color: white; /* Fondo blanco */
    margin-top: 30px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  

.content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}
.content {
    display: flex;
    flex-wrap: wrap;                    /* Permite que los contenedores se muevan a una nueva línea */
    gap: 20px;                           /* Espacio entre los gráficos */
    justify-content: flex-start;         /* Alinea los elementos al principio */
    padding: 20px;
    box-sizing: border-box;              /* Asegura que el padding no afecte el ancho total */
}
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    max-height: 600px;                   /* Altura máxima */
    max-width: 800px;                    /* Limita el ancho máximo */
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor para el segundo gráfico */
.chart-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    max-height: 300px;                   /* Altura máxima */
    max-width: 400px;                    /* Limita el ancho máximo */
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-right: -50px;
}

/* Contenedor para el tercer gráfico */
.chart-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 330px;                    /* Ajusta la distancia con el contenedor anterior */
    max-height: 300px;                   /* Altura máxima */
    max-width: 300px;                    /* Limita el ancho máximo */
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: -320px;  
}

 