/* VerPedido.css */
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('../img/Fondo2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.titulos {
    text-align: center;
    border-radius: 15px 15px 0 0;
    background-color: #fbe5ad;
    width: 100%;
    max-width: 600px;
    color: black;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px; /* Agrega margen inferior para separación */
}



.table {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    background-color: #eed9a4;
    color: black;
    margin: 0 auto;
    border-top: none;
}




.table td {
    background-color: #f8f9fa; /* Color de fondo claro para las celdas de la tabla */
    color: #212529; /* Color de texto para las celdas de la tabla */
  }
  
  .table th {
    background-color: #e9dede;
    color: black;
  }
  
  .centered {
    text-align: center !important;
    vertical-align: middle !important;
  }
  



.table td, .table th {
    vertical-align: middle;
    padding: 15px 20px;
    text-align: center;
}



#botones {
    background-color: #07730e; /* Dark background for buttons */
    border: none;
    color: white;
    border-radius: 10px;
}

#botones:hover {
    background-color: #3fa82a; /* Slightly lighter hover effect for buttons */
}

.logout {
    position: fixed; 
    right: 20px;
    top: 20px;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px;
    background-color: #d33; 
    color: white; 
    z-index: 1000; 
}



