*{
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-image: url("../img/Fondo.jpg");
    font-family: Arial, sans-serif;
}
.btn-primary {
    background-color: green !important;
}

.bg-white {
    background-color: #8e7964  !important;
}

.main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 2%;
}


#Disponible {
    width: 100px; 
    font-size: 14px; 
}


