* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-image: url("../img/Fondo.jpg");
    font-family: Arial, sans-serif;
}

.btn-primary {
    background-color: #cd681b;
    border: #cd681b;
    color: white; /* Color del texto */
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus-visible {
    outline: none !important;
    box-shadow: none !important; /* Elimina cualquier sombra de foco */
}


.bg-white {
    background-color: #fbe5ad;
}

.main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 2%;
}

#Disponible {
    width: 100px;
    font-size: 14px;
}
