*{
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-image: url('../img/Fondo2.jpg');
}



.bg-white {
    background-color: #fbe5ad  !important;
}

.main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 2%;
}


#Disponible {
    width: 100px; 
    font-size: 14px; 
}

button.btn-primary {
    color: #000000;
    background-color: #cd681b;
    border-color: #cd681b;
}

button.btn-primary:hover, button.btn-primary:focus {
    color: white;
    background-color: #1e9b29;
    border-color: #000000;
}



