body {
    background-image: url('../img/Fondo2.jpg');
    height: 100vh;

}


#inicio{
    background-color: #fbe5ad;
    border-radius: 15px;
    height: 90%;
}

#Btningresar {
    background-color: #e48e3f;
    border-color: wheat;
    color: white; 
}



.texto-has-olvidado{
    color: black;
}
