body {
    background-image: url('../img/Fondo2.jpg');
    height: 100vh;
}

.custom-btn {
    background-color: #e48e3f;
    border: none;
    color: white;
}

.custom-btn:hover {
    background-color: #cf7a2a;
}

#inicio {
    background-color: #fbe5ad;
    border-radius: 15px;
    height: 90%;
}

#btn-regresar {
  background-color: #e48e3f;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;        /* Espacio interno arriba/abajo e izquierda/derecha */
  font-weight: bold;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;                  /* Espacio entre el icono y el texto si usas uno */
  cursor: pointer;
}