body {
    background-image: url('../img/Fondo2.jpg');
    height: 100vh;
}

.custom-btn {
    background-color: #e48e3f;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 0.75rem 0;
    transition: background 0.2s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Liberation Sans", sans-serif; /* Igual que Bootstrap */
    text-align: center;
    line-height: 1.5;
}

.custom-btn:hover {
    background-color: #cf7a2a;
}

#inicio {
    background-color: #fbe5ad;
    border-radius: 15px;
    height: 90%;
}