/* reservaCliente.css */
body {
    background-image: url('../img/Fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 1rem;
}

.btn-secondary{
    background-color: #dc3545;
  border: none;
}