body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    padding: 50px;
}

h1 {
    color: #333;
}

.botones-container {
    margin-top: 40px;
}

.boton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.boton:hover {
    background-color: #45a049;
}
