{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Administrador.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <link
      rel="icon"
      href="{% static 'img/logo-icono1.png' %}"
      type="image/png"
    />
    <title>Administrador</title>
  </head>

  <body>
    <div id="dashboard-container">
      <div class="sidebar">
        <div class="logo">
          <img src="{% static 'img/logo-icono1.png' %}" alt="Logo principal" class="img-fluid mb-3" style="max-width: 255px" />
        </div>
        

        <div class="sidebar-option">
          <a href="{% url 'createUser' %}" class="d-flex align-items-center justify-content-start w-100">
             <span>Registrar usuarios</span>
          </a>
        </div>
        <div class="sidebar-option">
          <a href="{% url 'showUsers' %}" class="d-flex align-items-center justify-content-start w-100">
            Ver usuarios</a>
        </div>
        <div class="sidebar-option">
          <a href="{% url 'createProduct' %}" class="d-flex align-items-center justify-content-start w-100">
             Registrar productos</a>
        </div>
        <div class="sidebar-option">
          <a href="{% url 'showProduct' %}" class="d-flex align-items-center justify-content-start w-100">
             Ver productos</a>
        </div>
        <div class="sidebar-option">
          <a href="{% url 'crearMesas' %}" class="d-flex align-items-center justify-content-start w-100">
             Registrar mesas</a>
        </div>
        <div class="sidebar-option">
          <a href="{% url 'mesas' %}" class="d-flex align-items-center justify-content-start w-100">
             Ver mesas</a>
        </div>
        <div class="sidebar-option">
          <a href="{% url 'verFactura' %}" class="d-flex align-items-center justify-content-start w-100">
             Ver facturas</a>
        </div>
        <div class="sidebar-option">
          <a href="{% url 'verReservas' %}" class="d-flex align-items-center justify-content-start w-100">
             Ver reservas</a>
        </div>
        <div class="sidebar-option">
          <a href="{% url 'signout'%}" class="d-flex align-items-center justify-content-start w-100"> 
            </i> Cerrar sesión
          </a>
        </div>  

      </div>
      <div class="content">
        <div class="chart-column">

        <div class="chart-container">
            <canvas id="histograma" width="550" height="230"></canvas>
        </div>
        <div class="chart-container6">
                <canvas id="histogramaDias" width="550" height="230"></canvas>
            </div>
          <button id="descargar-pdf" onclick="exportarTodosLosGraficosComoPDF()">Descargar TODOS los gráficos en PDF</button>
          <button id="descargar-png" onclick="exportarTodosLosGraficosComoPNG()">Descargar TODOS los gráficos en PNG</button>



        </div>

        <div class="chart-column">
            <div class="chart-container2">
                <canvas id="meseros" width="500" height="350"></canvas>
            </div>
            <div class="chart-container3">
                <canvas id="mesas" width="500" height="250"></canvas>
            </div>
            <div class="chart-container4">
                <canvas id="histogramaProductos" width="500" height="350"></canvas>
            </div>
 
        </div>
 
    </div>
    
    </div>
    </div>
    <a href="{% url 'signout' %}" class="btn btn-secondary btn-sm logout">Cerrar sesión</a>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="{% static 'js/grafico.js' %}"></script>
    
  </body>
</html>