{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultas</title>
    <link rel="stylesheet" href="{% static 'css/consultas.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="inicio">
        <h1>Consultas y Estadísticas</h1>

        <div class="contenedor-filtros">
            <div class="grupo">
                <h3>Ventas</h3>
                <label><input type="checkbox" class="checkbox-unico" id="mesero"> Ventas por Mesero</label>
                <label><input type="checkbox" class="checkbox-unico" id="mesa"> Ventas por Mesa</label>
                <label><input type="checkbox" class="checkbox-unico" id="producto"> Ventas por Producto</label>
                <label><input type="checkbox" class="checkbox-unico" id="ventasDia"> Ventas por Día</label>
            </div>

            <div class="grupo">
                <h3>Reservas</h3>
                <label><input type="checkbox" class="checkbox-unico" id="reservaMesero"> Reservas por Cliente</label>
                <label><input type="checkbox" class="checkbox-unico" id="reservaMesa"> Reservas por Mesa</label>
                <label><input type="checkbox" class="checkbox-unico" id="reservaFecha"> Reservas por Fecha</label>

            </div>

            <div class="grupo-fecha">
                <h3>Consultar Venta por Fecha</h3>
                <input type="date" id="fechaVenta">
                <button id="buscarVentaPorFecha">Buscar</button>
            </div>
        </div>

        <div class="botones-accion">
            <button id="actualizar">Actualizar Gráfico</button>
        </div>

        <canvas id="graficoGeneral"></canvas>
    </div>

    <script src="{% static 'js/consultas.js' %}"></script>
</body>
</html>
