{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Index.css' %}" />
  <link rel="icon" href="{% static 'img/logo-icono1.png' %}" type="image/png" />
  <title>La patrana</title>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen px-4">
  <div class="w-full max-w-md">
    <div class="p-6 md:p-8 rounded-xl shadow-md flex flex-col items-center" id="inicio">
      <img src="{% static 'img/logo-icono1.png' %}" alt="Logo principal" class="mb-4" style="max-width: 255px" />
      <form action="" method="post" class="w-full space-y-4">
        {% csrf_token %}
        <input type="text" name="username" class="w-full mt-1 p-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 outline-none"
          placeholder="Usuario" />
        {% if username_error %}
        <p class="text-red-600 text-sm">{{ username_error }}</p>
        {% endif %}
        <input type="password" name="password" class="w-full mt-1 p-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 outline-none"
          placeholder="Contraseña" />
        {% if password_error %}
        <p class="text-red-600 text-sm">{{ password_error }}</p>
        {% endif %}
        <button type="submit" class="w-full custom-btn py-2 rounded-lg" id="Btningresar">
          Ingresar
        </button>
      </form>
      <a href="/registroCliente" class="mt-4 text-[#e48e3f] underline">
        Registrate
      </a>
      <a href="/recuperarContra" class="mt-2 text-[#e48e3f] underline">
        Olvidaste tu contraseña?
      </a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% if success %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      Swal.fire({
        title: 'Inicio de sesión exitoso',
        icon: 'success',
        timer: 1500,
        showConfirmButton: false
      }).then(() => {
        window.location.href = "{{ success_url }}";
      });
    });
  </script>
  {% elif error %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      Swal.fire({
        title: 'Error al iniciar sesión',
        text: '{{ error_message }}',
        icon: 'error'
      });
    });
  </script>
  {% endif %}
</body>

</html>