{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Cliente</title>
    <link rel="stylesheet" href="{% static 'css/reservaCliente.css' %}">
</head>
<body>

    <div id="inicio">
        <h1>Bienvenido, {{ user.first_name }}</h1>

        <div class="botones-container">
        <a href="{% url 'verMesasCliente' %}" class="boton">Reservar mesas</a>
        <a href="{% url 'verReservasCliente' %}" class="boton">Ver mis reservas</a>
        <a href="{% url 'signout' %}" class="boton boton-rojo boton-cerrar-sesion">Cerrar sesión</a>

        </div>
    </div>

</body>
</html>

